@use "../partials/sizes";
@use "../partials/mixins";

.contact-form {
  width: sizes.$max-screen-width;
  @include mixins.font-styling-contact();
  margin-bottom: 45px;
  &__border {
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid white;
  }
  &__input,
  select,
  label {
    width: 50%;
    padding: 5px;
    margin: 1%;
  }
  &__input--method {
    margin: 1%;
    padding-left: 5px;
  }
  &__input--message {
    width: 90%;
    margin: 1%;
    resize: none;
  }
  &__button {
    margin-left: 5px;
  }
}
