@use "../partials/colors";
@use "../partials/mixins";

.button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 10px 30px 10px 30px;
  @include mixins.font-styling-button();
}
